.Header{
  display: flex;
  background: #F4F4F4;
  height: 80px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.search-input{
  position:absolute;
  
  /*width: 354px;*/
  width: 25.915%;
  /*48px*/
  height: 48px;
  left:47.14494875549048vw;
  top:16px;
  border: 1px solid #ED3237;
  border-radius: 4px;
  display: flex;
}
@media (max-width:660px) {
  .Header {
    height:56px;
  }
  .search-input{
    height:28.31px;
  }
}

input::placeholder{
  font-size: 14px;
  color: #656363;
}
input[type="search"]{
  padding-left: 2%;
}



.login{
  height: 16px;
  position: absolute;
  font-family: Roboto;
  color:#ED3237;
  left: 120%;
  /*parte esquerda == 1062*/
  margin-top: 5px;
  cursor: pointer;
  font-size: 16px;
}


.cBody{
  display: flex;
  flex-direction: row;
}



/* ------------------------Configuração do frame de ingredientes*/
.container-ingrediente{
  width: fit-content;
  padding-bottom: 15px;

}


.header-ingredientes{
  width: 27.45241581259151vw;
  height: 55px;
  background-color: #FDD70E33;
  padding-top: 8px;
  margin-bottom:16px;
}

.tituloIngrediente{
  position: relative;
  
  width: 343px;
  height: 23px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  
  margin-left: 16px;
  margin-right: 16px;
  color: #4E4E4E;

}

.subtituloIngrediente{
  position: relative;
  margin-left: 16px;
  width: 343px;
  
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #E49700;

}

/* numero do botao*/
.number{
  display: inline-block;
  width: 25px;
  height: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content{
  text-align: center;
  font-size: 14px;
  width: fit-content;
  height: fit-content;
}

.counter{
  font-size: 14px;
  text-align: center;
  width: 25px;
  height: 16px;
  margin-left: auto;
  margin-right: auto;
}

.nome-ingrediente{
  height: 16px;
  position: absolute;
  margin-left: 8px;
  margin-top: 8px;
  top:0%;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  color: #4E4E4E;


}

.preco{
  position: absolute;
  bottom: 0%;
  margin-left: 8px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  color: #F09035;


  
}


/*Linha de ingredientes*/
hr{
  width: 25.109809663250367vw;
  height: 0px;
  border: 1px solid #FEBC10;
  margin-left:16px;
  margin-right: 16px;
  margin-top: 9px;
  margin-bottom:8px;
}


/* Pergunta rodapé*/

.talher{
  height: 55px;
  width: 27.452415812591507vw;
  left: 0px;
  top: 491px;
  border-radius: 0px;
  background: #FDD70E33;
}
.content-talher{
  position: relative;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;

  height: 23px;
  width: 343px;
  margin-left: 16px;
  margin-top: 8px;
  top:8px;
  margin-bottom:15px;
  color: #4E4E4E;


}

/* ---- Botao adicionar no carrinho */

.addButtonContainer{
  position: absolute;
  height: 40px;
  width: 16.032210834553442vw;
  border-radius: 4px;
  border:none;
  background: hsl(29, 86%, 57%);
  cursor:pointer;
  bottom: 0%;
  margin-bottom: 32px;
  right: 0%;
  margin-right: 32px;
  
}
.addButtonContent{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 0.33000001311302185px;
  text-align: center;
  color: #FFFFFF;
}

/*--------------------POPOVER*/

.popover{
  margin-top: 15%;
  margin-bottom: 15%;

  width: fit-content;
  position: absolute;
  height: fit-content;
  padding: 5px;
  background-color:#F8F8F8;
  border-radius: 10px;
  left:10%;
  right: 10%;
  bottom: 10%;
  border-radius: [object Object] px;


}
#headder{
  background: #F09035;
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  height: 32px;
  color: #FFFFFF;
  height: 32px;
  width: max-content;
  border-radius: [object Object]px;

  padding-top: 4px;
  padding-left: 2px;
  padding-bottom: 4px;
}


.header-popover{
  font-size: 14px;
  color: #BC2E31;
  font-family: Roboto Condensed;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;

}

.body-pop , li, ul{
  font-family: Roboto Condensed;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
  color: #4E4E4E;
  margin-top: 8px;

}




/*  ----- Corpo do produto ------  */


.countainer-produto{
   height:662px;
   /*width:597px;*/
   width: 43.704245973645683vw;
   position:absolute;
   margin-top: 24px;
   margin-left: 66px;
   margin-bottom: 24px;
}

.imagem-produto{
  width: 100%;
  height: 388px;
  margin-top: 24px;
}

.nome-produto{
  display: flex;
  height: 91.59159851074219px;
  width: 528.5574340820312px;
  text-align: left;
  align-items: center;

  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;

  color: #4E4E4E;
}
.descricao-produto{
  width: 100%;
  height: fit-content;
  color: #4E4E4E;
  font-size:20px
}

.produto-preco{
  display: inline-block;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  color: #DC6E05;
  margin-bottom: 24px;
  margin-top:10.41px;
  margin-right: 17px ;
}

.preco-desconto{
  display: inline-block;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  color: #4E4E4E;
  text-decoration: line-through;

}

@media (max-width:600px) {
  .cBody{
    display: block;
  }
  .countainer-produto{
    position: relative;
    width: auto;
    margin-right: 16px;
    margin-left: 16px;
    height: fit-content;
  }
  .imagem-produto{
    height: fit-content;
  }

  .nome-produto{
    font-size:18px;
  }
  .descricao-produto{
    font-size: 16px;
  }

  .container-ingrediente{
    width: auto;
  }
  .header-ingredientes{
    width: 100%;
  }
  .nome-ingrediente{
    width: 100%;
  }

  .talher{
    width: auto;
  }
  input[type="radio"]{
    width: 16px;
    color: #FEBC10;
  }
  .talher{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    background: #FEBC10;
  }

  .addButtonContainer{
    width: 195px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  hr{
    width: auto;
    margin-left: 0px;
    margin-right:0px;
  }
}
